* {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  background: white;
  font-family: Arial, Helvetica, sans-serif;
}

.vsiaf-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  padding: 0;
  background: white;
}

.vsiaf-card {
  width: 100%;
  min-height: 100vh;
  background: white;
  border: none;
  box-shadow: none;
}

.vsiaf-header {
  height: 105px;
  background: linear-gradient(#2c9bdf, #004b82);
  color: white;
  display: flex;
  align-items: center;
  padding-left: 35px;
  border-bottom: 3px solid #003b60;
}

.vsiaf-logo {
  display: flex;
  align-items: center;
  gap: 18px;
}

.bandera {
  width: 75px;
  height: 50px;
  background: linear-gradient(
    to bottom,
    #d60000 0%,
    #d60000 33%,
    #f7d600 33%,
    #f7d600 66%,
    #078930 66%,
    #078930 100%
  );
  border-radius: 50%;
  filter: blur(1px);
}

.vsiaf-logo h1 {
  margin: 0;
  font-size: 50px;
  letter-spacing: 8px;
  font-family: Georgia, "Times New Roman", serif;
  font-weight: 1000;
  color: white;
  transform: scaleX(1.1);
  transform-origin: left;
  text-shadow:
    2px 2px 0 #4b4b8f,
    3px 3px 4px rgba(0, 0, 0, 0.6);
}

.vsiaf-logo p {
  margin: 8px 0 0 25px;
  font-size: 16px;
  font-family: "Brush Script MT", "Segoe Script", cursive;
  color: white;
  text-shadow: 1px 1px 2px #003b60;
  letter-spacing: 3px;
}
.vsiaf-info {
  padding: 10px 25px;
  color: #003b60;
  font-size: 14px;
}

.vsiaf-info p {
  margin: 4px 0;
}

.vsiaf-body {
  display: flex;
  padding: 0 15px 15px 15px;
  gap: 15px;
  min-height: calc(100vh - 180px);
}

.vsiaf-menu {
  width: 230px;
}

.vsiaf-menu h3 {
  margin: 2 0 8px 0;
  color: #003b60;
  font-size: 19px;
  text-align: center;
}

.vsiaf-menu button {
  width: 100%;
  margin-bottom: 6px;
  padding: 8px 10px;

  background: linear-gradient(
    to bottom,
    #ffffff 0%,
    #dff3ff 30%,
    #8fc8e8 55%,
    #dff3ff 100%
  );

  border: 1px solid #6f6f6f;
  border-radius: 4px;

  color: #001f35;
  font-size: 13px;
  font-weight: normal;
  text-decoration: underline;

  cursor: pointer;

  box-shadow:
    inset 0 1px 0 #ffffff,
    inset 0 -1px 2px #6aaed0,
    0 1px 1px rgba(0, 0, 0, 0.35);
}

.vsiaf-menu button:hover {
  background: linear-gradient(
    to bottom,
    #ffffff 0%,
    #c7ecff 30%,
    #5faed8 60%,
    #dff3ff 100%
  );

  border: 1px solid #00416d;
}
.vsiaf-menu button:active {
  transform: translateY(1px);

  box-shadow:
    inset 0 2px 4px rgba(0, 0, 0, 0.3),
    inset 0 1px 0 #ffffff;
}
.vsiaf-content {
  flex: 1;
  background: white;
  border: 1px solid #888;
  min-height: calc(100vh - 200px);
  padding: 10px;
  overflow: auto;
}
.vsiaf-header {
  position: relative;
}

.logo-fuerza {
  position: absolute;
  top: 12px;
  right: 18px;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.45);
}

.tabla-contenedor {
  position: relative;
  width: 92%;
  height: 330px;
  margin: 0 auto;
  overflow-y: auto;
  border: 1px solid #555;
  background: white;
}
.estado-panel,
.mes-panel,
.objgasto-panel,
.entidades-panel,
.contenedor-unidad,
.ctapar-panel {
  background: white !important;
}
/* Imagen detrás de todas las tablas */
.tabla-contenedor::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("/img/patio.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.40;
  z-index: 0;
}

/* La tabla queda encima de la imagen */
.estado-tabla,
.mes-tabla,
.entidades-tabla,
.objgasto-tabla,
.tabla-unidad,
.ctapar-tabla {
  position: relative;
  z-index: 1;
  width: 100%;
  border-collapse: collapse;
  background: transparent;
}

/* Encabezados azules */
.estado-tabla th,
.mes-tabla th,
.entidades-tabla th,
.objgasto-tabla th,
 .tabla-unidad th,
 .ctapar-tabla th{
  background: #00416d;
  color: white;
  padding: 12px;
  text-align: center;
}

/* Celdas transparentes para que se vea la imagen */
.estado-tabla td,
.mes-tabla td,
.entidades-tabla td,
.objgasto-tabla td,
 .tabla-unidad td,
 .ctapar-tabla td{
  background: rgba(255, 255, 255, 0.65);
}
.btn-cerrar-sesion {
  float: right;
  background: linear-gradient(#0d5f92, #003b60);
  color: white;
  border: 1px solid #002c47;
  padding: 7px 15px;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
}

.btn-cerrar-sesion:hover {
  background: linear-gradient(#1278b8, #005b90);
}

.vsiaf-content {
  flex: 1;
  background: white;
  border: 1px solid #888;
  min-height: calc(100vh - 200px);
  padding: 10px;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.info-entidad-unidad {
  width: 92%;
  margin: 10px 0 25px 20px;
  color: #2459a6;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
  line-height: 1.5;
  text-align: left;
}

.label-info {
  display: inline-block;
  width: 170px;
  font-weight: bold;
  color: #00508f;
}

.codigo-info {
  display: inline-block;
  width: 90px;
  color: #2459a6;
}

.texto-info {
  color: #2459a6;
}